/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  margin: 0;
	padding: 0;
}

/* Memory CSS */
body {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* avoid user can select text */
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.game-title {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid #000000;
  padding: 14px;
  margin-top: 20px;
  background-color: #106f10;

  /*
  background-image: url(../images/background_tapete.png);
  background-size: auto;
  background-blend-mode: overlay;
  background-repeat: repeat;
  background-position: top;
  */
}

.info-container {
  height: 40px;
  border: 2px solid #000000;
  border-radius: 4px;
  width: 100%;
  max-width: 96vw;
  /* margin-top: 14px; */
  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;

  color: #000000;
  background-color: rgb(212,230,92);
}
.info-element {
  width: 33%;
}
.info-element.info-element-center {
  text-align: center;
}
.info-element.info-element-right {
  text-align: right;
}

.usersContainer {
  height: 40px;
  border: 2px solid #000000;
  border-radius: 4px;
  width: 100%;
  max-width: 96vw;
  padding: 0 14px;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  font-size: 20px;

  color: #000000;
  background-color: rgb(212,230,92);
}

#gameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 14px;
  width: calc(130px*8);
  max-width: 95vw;
  /* height: calc(170px*3); */
}

.memory-card {
  height: 160px;
  width: 120px;
  background-color: transparent;
  perspective: 1000px;
  margin: 5px;
}
.memory-card:not(.paired) {
  cursor: pointer;
}
.card-inner.flipped {
  transform: rotateY(180deg);
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.card-front {
  background-color: rgb(147, 142, 165);
  border-radius: 6px;
  border: 2px solid black;
  padding: 6px;
}
.card-front:hover {
  -webkit-box-shadow: 0px 0px 12px 0px rgb(247, 255, 210);
  -moz-box-shadow: 0px 0px 12px 0px rgba(247, 255, 210);
  box-shadow: 0px 0px 12px 0px rgba(247, 255, 210);
}
.card-front-content {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: white;
  background-image: url('../images/game_logo.png');
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
}
.card-back {
  transform: rotateY(180deg);
  border-radius: 6px;
  border: 2px solid black;
  padding: 6px;
  background-color: #ffffff;
}
.card-back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(147, 142, 165);
}
.card-back-value {
  font-size: 66px;
  color: rgb(251,231,84);
}
